<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Kafka libraries to WARN to reduce noise -->
    <logger name="org.apache.kafka" level="WARN"/>

    <!-- Set Root to INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
